# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

# Misc
*.pem
.turbo
